<%= content_for :titulo do %>
  <% @mca_titulo_proyecto = 'S' %>
  <small class="text-secondary"><small>Proyecto: </small></small> <b style="color:black;"><%= @proyecto.nombre %></b>
<% end %>
<%= content_for :right do %>
  <div class="mt-5 text-right">
    <big>
            <%= render '/proyectos/estado_favorito', p: @proyecto, estado: 'Proyecto'%>
    </big>
  </div>
<% end %>

      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active w-450" style="height: 600px!important; overflow: hidden;">
            <img src="https://vidarq.pe/wp-content/uploads/2019/04/proyecto-inmobiliario-en-surco-esen.jpg" class="card-img d-block w-100 align-middle" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </div>
          <div class="carousel-item w-450" style="height: 600px!important; overflow: hidden;">
            <img src="https://revistaconstruir.com/wp-content/uploads/2015/11/GT-Mariscal-uno-uno.jpg" class="card-img d-block w-100 align-middle" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="carousel-item w-450" style="height: 600px!important; overflow: hidden;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSLTYzTM310_JnDkpOJbAi3f9U-6-ix0uRo_w&usqp=CAU" class="card-img d-block w-100 align-middle" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="tarjeta mt-5 ml-5 mb-5 border-info">
            <div class="mt-3 mr-5 ml-5 mb-3 align-middle">
                  <table t-info>
                    <tbody>
                      <tr>
                        <td class="align-middle text-justify">
                          <big>
                            <%= @proyecto.descripcion_larga.gsub(/\r\n/, "<br>").html_safe %>
                          </big>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
        <div class="col-md-2 mt-5 mbt-5">
          <div class="mt-3 mbt-3">
                  <table t-info>
                    <tbody>
                      <tr>
                        <td class="align-middle text-center">
                          <img src="https://i.ibb.co/GMxQywx/584568a4746e3e42031117ed.png" style="width: 100%;" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tarjeta mt-5 mr-5 mb-5">
            <div class="text-center mt-3 mr-3 ml-3 mb-3 text-info">
              <% a_min, a_max, p_min = 0,0,0 %>
              <% @departamentos.each do |dp| %>
                <%if a_max<dp.area_total%>
                  <% a_max=dp.area_total %>
                <% end %>
                <%if a_min<dp.area_total || a_min==0%>
                  <% a_min=dp.area_total %>
                <% end %>
                <% precio_tmp = @proyecto.precio_m2 * dp.area_total %>
                <% porcentaje_tmp = (dp.piso - 1)/100 %>
                <% precio_tmp = precio_tmp - (precio_tmp*porcentaje_tmp) %>
                <%if p_min>precio_tmp || p_min==0%>
                  <% p_min=precio_tmp %>
                <% end %>
              <% end %>
                    <table t-info style="width: 100%;">
                      <tbody>
                        <tr>
                          <td class="text-center text-secondary">
                              <span class="font-weight-bold" style="font-size: 11px;">
                                AREAS
                              </span>
                              <br>
                              <small>
                                DESDE:
                              </small>
                              <big class="font-weight-bold text-dark text-left align-bottom">
                                <%= number_to_currency(a_min, {:precision => 0, :unit => "",:delimiter => ","}) %>m²
                              </big>
                              &nbsp; | &nbsp;
                              <small>
                                HASTA:
                              </small>
                              <big class="font-weight-bold text-dark text-left align-bottom">
                                <%= number_to_currency(a_max, {:precision => 0, :unit => "", :delimiter => ","}) %>m²
                              </big>
                          </td>
                        </tr>
                        <tr class="border-top border-secondary">
                          <td class="text-center">
                            <small><b class="text-secondary">PRECIOS DESDE</b></small>
                            <br>
                            <b class="font-weight-bold text-info text-left align-bottom h1 text-center">
                              <big>
                                $ <%= number_to_currency(p_min, {:precision => 0, :unit => "", :delimiter => ","})  %>*
                              </big>
                            </b>
                          </td>
                        </tr>
                      </tbody>
                    </table>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        setTimeout(()=>
          {
            (at=>{(h=>at.toArray().map(x=>$(x).outerHeight(h+30)))(at.toArray().reduce((mx,t)=>mx>$(t).outerHeight()?mx:$(t).outerHeight(),0))})($('[t-info]'))
          },100)
      </script>

  <div class="contenedorBoton">
    <a class="btn my-sm-0 btn-lg btn-warning text-light" href="/<%=@home?'':'proyectos'%>">
      <i class="icon-arrow-left-24"></i> Regresar
    </a>
    <a class="btn my-sm-0 btn-lg btn-info text-light" href="#ubicacion">
      <i class="icon-globe-24"></i> Ver Ubicación
    </a>
    <a class="btn my-sm-0 btn-lg btn-success text-light" href="#dpto">
      <i class="icon-home-24"></i> Ver Departamentos
    </a>
    <% if @home != 'S'%>
        <%= link_to(edit_proyecto_path(@proyecto), :class => "btn my-sm-0 btn-lg btn-danger text-light") do %>
          <i class="icon-pencil-24"></i> Editar
        <%end%>
    <%end%>
  </div>
<%= render '/layouts/titulo', titulo: "Caracteristicas" %>
<style>
  .card-project-description {width: 200px;font-family: var(--secondary-font);text-align: center;padding: 25px 0 25px 0}
  .card-project-description figure{text-align: center;}
</style>
<div class="row justify-content-center">
  <% @caracteristicas_proyecto.each do |caracteristica| %>
    <%v=@variables.select(:codigo_variable,:descricion_variable,:dato_extra,:dato_extra2,:dato_extra3).where(tipo_variable: 'Caracteristicas',codigo_variable: caracteristica.cod_caracteristica)%>
    <div class="card-project-description tarjeta mr-2 ml-2 mb-4 bg-info rounded-circle border-top-0 border-warning text-light" style="border-top-left-radius: 0px!important;">
      <figure>
        <img src="https://www.llosaedificaciones.com/img/project_description_small_lumier_<%= v.collect(&:codigo_variable)[0]%>.svg" alt="">
      </figure>
      <div>
          <%= v.collect(&:descricion_variable)[0]  %> <br> 
          <%= v.collect(&:dato_extra)[0]  %> <br> 
          <%= v.collect(&:dato_extra2)[0]  %> <br> 
          <%= v.collect(&:dato_extra3)[0]  %>
      </div>
    </div> 
                         
  <% end %>
</div>
<a name="ubicacion"></a>
<%= render '/layouts/titulo', titulo: "Ubicación" %>

<div class="row" style="padding: 1px;">
  <div class="col-md-12 tarjeta" style="padding: 1px;">
    <div class="form-control" style="min-height: 628px;padding: 1px;background-image: url('https://acegif.com/wp-content/uploads/loading-97.gif');background-repeat: no-repeat;background-position: center;" id="map">

      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsRD1kwYJJ_fSNt3RImOEkji9NFyzDng0"></script>
      <script type="text/javascript">
          (function(fn) 
            {
                let latitude = 0<%=@proyecto.latitud%>;
                let longitude = 0<%=@proyecto.longitud%>;

                if (latitude != 0)
                  fn({coords:{latitude:latitude,longitude:longitude}});
            })(function fnx(position)
                      {
                          setTimeout(()=>
                          {
                            let map = new google.maps.Map(
                                  document.getElementById("map"),
                                  {center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude,position.coords.accuracy),
                                   zoom: 14,
                                   mapTypeId: google.maps.MapTypeId.ROADMAP});
                            
                            const markerIcon = {
                                      url: 'http://image.flaticon.com/icons/svg/252/252025.svg',
                                      scaledSize: new google.maps.Size(80, 80),
                                      origin: new google.maps.Point(0, 0),
                                      anchor: new google.maps.Point(32,65),
                                      labelOrigin:  new google.maps.Point(40,33),
                                    };

                            const marker = new google.maps.Marker({
                                   label: {
                                      text: "!",
                                      color: "#eb3a44",
                                      fontSize: "16px",
                                      fontWeight: "bold"
                                    },
                                    icon: markerIcon,
                                    map: map});
                            
                            marker.setPosition({
                                lat: position.coords.latitude,
                                lng: position.coords.longitude, 
                                x: position.coords.accuracy});        

                            var infowindow = new google.maps.InfoWindow({
                                      content: '<h4 class="text-primary" style="font-size:20px"><%= @proyecto.ubicacion %> - <%= @variables.select(:descricion_variable).where(tipo_variable: 'UbigeoDistritos', codigo_variable: @proyecto.distrito).collect(&:descricion_variable)[0] %></h4>'});

                            infowindow.open(map,marker);

                          },1000);
                      });
      </script>  
    </div>
  </div>
</div>

<a name="dpto"></a>

<%= render '/layouts/titulo', titulo: "Departamentos" %>

<%= render partial: '/departamentos/index', departamento: @departamento %>