
<div class="row">

   <div class="col-4 offset-5">
   <br>
   <h2>Login Now</h2>
   <br>
   <img style="align-content: center" id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
   </div>
   <div class="col-4 offset-4">
   <%= form_for(:session, url: login_path) do |f|%>
    
     <br>
          <%= f.label :correo_corporativo %>
          <%= f.email_field :correo_corporativo, :class => "form-control", :placeholder=>"Email address"%>

          <%= f.label :contraseña %>
          <%= f.password_field :contraseña, :class => "form-control", :placeholder=>" Password "%>

          <br>

          <%=f.submit "Ingresar", :class => "btn btn-lg btn-primary btn-block btn-signin" %>

<%end%>
         <br>
         <p>
            Tienes una cuenta? <%= link_to "Registrate Ahora", signup_path %>
         </p>

         </div>

</div>