<%= form_with(model: departamento, local: true) do |form| %>
  <% if departamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(departamento.errors.count, "error") %> prohibited this departamento from being saved:</h2>

      <ul>
        <% departamento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="form-row mt-3">
      <div class="col-md-12 mb-3">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Proyecto</label>
        <div>
          <label for="validationCustom02" class="col-form-label col-form-label-lg h1">{{proyecto.Nombre}}</label>
        </div>
      </div>
      <div class="col-md-3 mb-3 field">
        <%= form.label :numero, :class=>"col-form-label col-form-label-lg" %>
        <%= form.number_field :numero, :class=>"form-control form-control-lg" %>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-3 mb-3 field">
        <%= form.label :piso, :class=>"col-form-label col-form-label-lg" %>
        <%= form.number_field :piso, :class=>"form-control form-control-lg" %>

        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-3 mb-3 field">
        <%= form.label :area_total, :class=>"col-form-label col-form-label-lg" %>
        <%= form.number_field :area_total, :class=>"form-control form-control-lg" %>

        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-3 mb-3 field">
        <%= form.label :area_techada, :class=>"col-form-label col-form-label-lg" %>
        <%= form.number_field :area_techada, :class=>"form-control form-control-lg" %>

        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-3 mb-3 field">
        <%= form.label :dormitorios, :class=>"col-form-label col-form-label-lg" %>
        <%= form.number_field :dormitorios, :class=>"form-control form-control-lg" %>

        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-3 mb-3 field">
        <%= form.label :baños, :class=>"col-form-label col-form-label-lg" %>
        <%= form.number_field :baños, :class=>"form-control form-control-lg" %>

        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-3 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Favorito</label>
        <select class="form-control form-control-lg mr-sm-2">
          <option>[Seleccione]</option>
          <option value="value1">Si es favorito</option> 
          <option value="value3">No es favorito</option>       
        </select>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-3 mb-3 field">
        <%= form.label :estado, :class=>"col-form-label col-form-label-lg" %>
        <select class="form-control form-control-lg mr-sm-2">
          <option>[Seleccione]</option>        
          <option value="value1">Activo</option> 
          <option value="value3">Inactivo</option>
          <option value="value3">Vendido</option>      
        </select>
        <div class="valid-feedback">
           Looks good!
        </div>
      </div>  
      <div class="col-md-4 mb-3 field">
        <%= form.label :descripcion_corta, :class=>"col-form-label col-form-label-lg" %>
        <%= form.text_area :descripcion_corta, :class=>"form-control form-control-lg" %>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-8 mb-3 field">
        <%= form.label :descripcion_larga, :class=>"col-form-label col-form-label-lg" %>
        <%= form.text_area :descripcion_larga, :class=>"form-control form-control-lg" %>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    
  
  
</div>



<div class="actions text-right">
  <%= link_to 'Regresar', departamentos_path, :class => "btn-warning btn btn-lg" %>
  <a class="btn btn-danger btn-lg text-light" href="/archivos">Ver Imagenes</a>
  <%= form.submit "Guardar", :class => "btn btn-lg btn-success text-light"%>
</div>


<% end %>
