<a name="departamento"></a>
<%= content_for :titulo do %>
  <% if @mca_titulo_proyecto != 'S' %>
    <%= @proyecto.nombre %> <small> » Departamentos</small>
  <% end %>
<% end %>

<div class="row mt-4">
  <%= render '/departamentos/filtros', departamento: @departamento %>
</div>
  <div class="contenedorBoton">
        <%= link_to(proyectos_path, :class => "btn my-sm-0 btn-lg btn-warning text-light") do %>
          <i class="icon-arrow-left-24"></i> Regresar
        <%end%>
      <button class="btn btn-success my-sm-0 btn-lg" type="submit"><i class="icon-search-24"></i> Buscar</button>

      <% if @home != 'S' %>
        <a class="btn my-sm-0 btn btn-primary btn-lg text-light" href="/departamentos/<%= @proyecto.id%>/new">
          <i class="icon-plus-24"></i> Nuevo Departamento
        </a>
      <%end%>
      
      <button class="btn btn-danger my-sm-0 btn-lg" type="submit" id="limpiar"><i class="icon-circle-slash-24 negro"></i> Limpiar</button>

  </div>

  <%= render '/departamentos/item', departamentos: @departamentos %>
