<%= form_with(model: solicitud, local: true) do |form| %>
  <% if solicitud.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solicitud.errors.count, "error") %> prohibited this solicitud from being saved:</h2>

      <ul>
        <% solicitud.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cod_solictud %>
    <%= form.number_field :cod_solictud %>
  </div>

  <div class="field">
    <%= form.label :cod_departamento %>
    <%= form.number_field :cod_departamento %>
  </div>

  <div class="field">
    <%= form.label :tipo_documento %>
    <%= form.text_field :tipo_documento %>
  </div>

  <div class="field">
    <%= form.label :numero_documento %>
    <%= form.text_field :numero_documento %>
  </div>

  <div class="field">
    <%= form.label :nombres %>
    <%= form.text_field :nombres %>
  </div>

  <div class="field">
    <%= form.label :apellidos %>
    <%= form.text_field :apellidos %>
  </div>

  <div class="field">
    <%= form.label :correo %>
    <%= form.text_field :correo %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.text_field :telefono %>
  </div>

  <div class="field">
    <%= form.label :mensaje %>
    <%= form.text_field :mensaje %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado %>
  </div>

  <div class="field">
    <%= form.label :usu_crea %>
    <%= form.text_field :usu_crea %>
  </div>

  <div class="field">
    <%= form.label :fec_crea %>
    <%= form.datetime_select :fec_crea %>
  </div>

  <div class="field">
    <%= form.label :usu_mod %>
    <%= form.text_field :usu_mod %>
  </div>

  <div class="field">
    <%= form.label :fec_mod %>
    <%= form.datetime_select :fec_mod %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
