<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-row">
      <%= render partial: '/personas/form', persona: @persona %>
      <div class="col-md-4 mb-3 field">
        <%= form.label :perfil, :class=>"col-form-label col-form-label-lg" %>
        <select class="form-control form-control-lg mr-sm-2">
          <option>[Seleccione]</option>
          <option value="value1">Administrador</option> 
          <option value="value3">Vendedor</option>
          <option value="value3">Jefe</option>
        </select>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Usuario</label>
        <%= form.text_field :codigo_usuario, :class=>"form-control form-control-lg mr-sm-2"%>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <%= form.label :correo_corporativo, :class=>"col-form-label col-form-label-lg" %>
        <%= form.email_field :correo_corporativo, :class=>"form-control form-control-lg mr-sm-2"%>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <%= form.label :estado, :class=>"col-form-label col-form-label-lg" %>
        <select class="form-control form-control-lg mr-sm-2">
          <option>[Seleccione]</option>
          <option value="value1">Activo</option> 
          <option value="value3">Inactivo</option>
          <option value="value3">Falta Activar</option>
        </select>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>
  
<div class="actions text-right">
  <%= link_to 'Regresar', usuarios_path, :class => "btn-warning btn btn-lg" %>
  <%= form.submit "Guardar", :class => "btn btn-lg btn-success text-light"%>
</div>
<% end %>
