<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-row">
<<<<<<< HEAD

    <div class="col-md-4 mb-3 field">
    <%= form.label :tipo_doc, :class=>"col-form-label col-form-label-lg" %>
    <%= form.select :tipo_doc,  options_for_select([ "DNI", "C.Extranjeria", "Pasaporte","Ruc"]), {}, { class: "form-control form-control-lg mr-sm-2" } %>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Numero Documento</label>
        <%= form.text_field :numero_documento, :class=>"form-control form-control-lg mr-sm-2"%>
=======
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Tipo de Documento</label>
        <select class="form-control form-control-lg mr-sm-2">
          <option>[Seleccione]</option>
          <option value="value1">DNI</option> 
          <option value="value3">C. Extranjeria</option>
          <option value="value3">Pasaporte</option>
          <option value="value3">RUC</option>
        </select>
>>>>>>> 623a5d0e044071994c7b7faccde58ba799e00718
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
<<<<<<< HEAD
=======
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Número de Documento</label>
        <input type="text" name="" class="form-control form-control-lg">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Nombres</label>
        <input type="text" name="" class="form-control form-control-lg">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Apellido Paterno</label>
        <input type="text" name="" class="form-control form-control-lg">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Apellido Materno</label>
        <input type="text" name="" class="form-control form-control-lg">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Correo Personal</label>
        <input type="email" name="" class="form-control form-control-lg">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Teléfono</label>
        <input type="number" name="" class="form-control form-control-lg">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Tipo de Persona</label>
        <select class="form-control form-control-lg mr-sm-2">
          <option>[Seleccione]</option>
          <option value="value1">Juridico</option> 
          <option value="value3">Natural</option>
        </select>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Género</label>
        <select class="form-control form-control-lg mr-sm-2">
          <option>[Seleccione]</option>
          <option value="value1">Masculino</option> 
          <option value="value3">Femenino</option>
        </select>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Fecha de Nacimiento</label>
        <input type="date" name="" class="form-control form-control-lg">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      
>>>>>>> 623a5d0e044071994c7b7faccde58ba799e00718
      <div class="col-md-4 mb-3 field">
      <label for="validationCustom02" class="col-form-label col-form-label-lg">Nombres</label>
      <%= form.text_field :nombre, :class=>"form-control form-control-lg mr-sm-2"%>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3 field">
    <label for="validationCustom02" class="col-form-label col-form-label-lg">Apellido Paterno</label>
    <%= form.text_field :apellido, :class=>"form-control form-control-lg mr-sm-2"%>
    <div class="valid-feedback">
      Looks good!
    </div>
    </div>
    <div class="col-md-4 mb-3 field">
    <label for="validationCustom02" class="col-form-label col-form-label-lg">Apellido Materno</label>
    <%= form.text_field :apellido_materno, :class=>"form-control form-control-lg mr-sm-2"%>
    <div class="valid-feedback">
      Looks good!
    </div>
    </div>
    <div class="col-md-4 mb-3 field">
    <%= form.label :Tipo_persona, :class=>"col-form-label col-form-label-lg" %>
    <%= form.select :tipo_persona,  options_for_select([ "Juridico", "Natural"]), {}, { class: "form-control form-control-lg mr-sm-2" } %>
    
    <div class="valid-feedback">
      Looks good!
    </div>
    </div>
    <div class="col-md-4 mb-3 field">
    <%= form.label :genero, :class=>"col-form-label col-form-label-lg" %>
    <%= form.select :genero,  options_for_select([ "Masculino", "Femenino"]), {}, { class: "form-control form-control-lg mr-sm-2" } %>
    <div class="valid-feedback">
      Looks good!
    </div>
    </div>
     
      <div class="col-md-4 mb-3 field">
      <%= form.label :perfil, :class=>"col-form-label col-form-label-lg" %>
      <%= form.select :perfil,  options_for_select([ "Administrador", "Vendedor", "Jefe"]), {}, { class: "form-control form-control-lg mr-sm-2" } %>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Contraseña</label>
        <%= form.text_field :contraseña, :class=>"form-control form-control-lg mr-sm-2"%>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Telefono</label>
        <%= form.text_field :telefono, :class=>"form-control form-control-lg mr-sm-2"%>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <label for="validationCustom02" class="col-form-label col-form-label-lg">Usuario</label>
        <%= form.text_field :codigo_usuario, :class=>"form-control form-control-lg mr-sm-2"%>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <%= form.label :correo_corporativo, :class=>"col-form-label col-form-label-lg" %>
        <%= form.email_field :correo_corporativo, :class=>"form-control form-control-lg mr-sm-2"%>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
      <%= form.label :estado, :class=>"col-form-label col-form-label-lg" %>
      <%= form.select :estado,  options_for_select([ "Activo", "Inactivo", "Falta Activar",]),{}, { class: "form-control form-control-lg mr-sm-2" }  %>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

  

      <div class="col-md-4 mb-3 field">
        <%= form.label :correo_personal, :class=>"col-form-label col-form-label-lg" %>
        <%= form.email_field :correo_personal, :class=>"form-control form-control-lg mr-sm-2"%>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3 field">
        <%= form.label :fecha_nacimiento, :class=>"col-form-label col-form-label-lg" %>
        <%= form.date_field :fec_crea, :class=>"form-control form-control-lg mr-sm-2"%>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>
  
<div class="actions text-right">
  <%= link_to 'Regresar', usuarios_path, :class => "btn-warning btn btn-lg"%>
  <%= form.submit "Guardar", :class => "btn btn-lg btn-success text-light"%>
</div>
<% end %>
