<p id="notice"><%= notice %></p>
<%= content_for :head do %>
  <br/>
  <div class="row bd-example">
    <div class="col-md-9 mb-2">
      <h1 class="display-1">Usuarios</h1>
    </div>
    <div class="col-md-3 text-right mb-2">
      <br/>
      <br/>
      <%= link_to 'Nuevo Usuario', new_usuario_path, :class => "form-control btn btn-lg btn-outline-primary text-primary" %>
    </div>
  </div>
<% end %>


  <div class="row mt-4">
    <div class="col-md-8">
      <input class="form-control form-control-lg mr-sm-2" type="search" placeholder="Ingrese nombre del usuario" aria-label="Search">
    </div>
    <div class="col-md-4">
      <select class="form-control form-control-lg mr-sm-2">
        <option>Todos los estados</option>
        <option value="value1">Activo</option> 
        <option value="value3">Inactivo</option>
        <option value="value3">Pendiente de activación</option>
      </select>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-8 text-right">
    </div>
    <div class="col-md-2 text-right">
      <button class="form-control btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
    </div>
    <div class="col-md-2 text-right">
      <button class="form-control btn btn-warning my-2 my-sm-0" type="submit">Limpiar</button>
    </div>
  </div>

    <% @usuarios.each do |usuario| %>
      <div class="card mt-2">
        <div class="col-md-12">
            <div class="card-header row  bg-secondary text-light">
              <div class="col-md-11">
                <b>Usuario:</b> <%= usuario.codigo_usuario %> (Heovyh Borja Lopez)
              </div>
              <div class="col-md-1 text-right">
                <span class="badge badge-primary badge-pill">Activo</span>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
              <div class="card-body">
                <b><%= usuario.tipo_documento %>:</b> <%= usuario.numero_documento %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card-body">
                <b>Email Personal:</b> <%= usuario.correo_corporativo %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card-body">
                <b>Perfil:</b> <%= usuario.perfil %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card-body">
                <b>Email Corporativo:</b> <%= usuario.correo_corporativo %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card-body">
                <b>Télefono:</b> 987654321
              </div>
            </div>
            <div class="col-md-3">
              <div class="card-body">
                <b>Tipo de Persona:</b> Natural
              </div>
            </div>
            <div class="col-md-3">
              <div class="card-body">
                <b>Genero:</b> Masculino
              </div>
            </div>
            <div class="col-md-3">
              <div class="card-body">
                <b>Fecha de Nacimiento:</b> 06/06/2006
              </div>
            </div>
            <div class="col-md-12 text-right mb-3">
                  <%= link_to 'Editar', edit_usuario_path(usuario), :class => "btn-danger btn-sm text-light mr-3" %>
            </div>
        </div>
      </div>

    <% end %>

<%= link_to 'Nuevo Usuario', new_usuario_path %>

<%= render partial: '/layouts/paginacion'%>
