<p id="notice"><%= notice %></p>

<p>
  <strong>Numero movimiento:</strong>
  <%= @movimimiento_ventum.numero_movimiento %>
</p>

<p>
  <strong>Cod venta:</strong>
  <%= @movimimiento_ventum.cod_venta %>
</p>

<p>
  <strong>Tipo movimiento:</strong>
  <%= @movimimiento_ventum.tipo_movimiento %>
</p>

<p>
  <strong>Numero operacion:</strong>
  <%= @movimimiento_ventum.numero_operacion %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @movimimiento_ventum.monto %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @movimimiento_ventum.estado %>
</p>

<p>
  <strong>Usu crea:</strong>
  <%= @movimimiento_ventum.usu_crea %>
</p>

<p>
  <strong>Fec crea:</strong>
  <%= @movimimiento_ventum.fec_crea %>
</p>

<p>
  <strong>Usu mod:</strong>
  <%= @movimimiento_ventum.usu_mod %>
</p>

<p>
  <strong>Fec mod:</strong>
  <%= @movimimiento_ventum.fec_mod %>
</p>

<%= link_to 'Edit', edit_movimimiento_ventum_path(@movimimiento_ventum) %> |
<%= link_to 'Back', movimimiento_venta_path %>
