<%= form_with(model: archivo, local: true) do |form| %>
         <%= form.hidden_field :cod_proyecto%>
         <%= form.hidden_field :cod_departamento%>

<div class="form-row mt-3">
      <div class="col-md-9 mb-3">
         <%= form.label :nombre_archivo, "Archivo", :class=>"col-form-label col-form-label-lg" %>
         <%= form.file_field :nombre_archivo, {:class=>"custom-file-input" , :style=>"display: none;", :accept=>"image/*"}%>
        <label class="form-control form-control-lg text-center align-middle" style="height: 526px;" for="archivo_nombre_archivo">
            <span style="border: 1px dashed grey; display: inline-block;border-radius: 4px;">
              <table style="height: 508px;width: 100%;">
                <tr>
                  <td>
                    <%if @archivo.nombre_archivo %>
                      <%= image_tag(@archivo.nombre_archivo.url)%>
                    <%else%>
                      Seleccione un archivo
                    <%end%> 
                  </td>
                </tr>
              </table>
          </span>
        </label>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-3"> 
        <div class="row">
          <div class="col-md-12 mb-3 field">
            <label class="col-form-label col-form-label-lg">Titulo</label>
            <%= form.text_field :descripcion_corta, :class=>"form-control form-control-lg" %>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-12 mb-3 field">
            <label class="col-form-label col-form-label-lg">Descripción</label>
            <%= form.text_area :descripcion_larga, :class=>"form-control form-control-lg" %>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-12 mb-3 field">
            <label for="validationCustom02" class="col-form-label col-form-label-lg">Favorito</label>
            <select class="form-control form-control-lg mr-sm-2">
              <option>[Seleccione]</option>
              <option value="value1">Si es favorito</option> 
              <option value="value3">No es favorito</option>       
            </select>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-5 mb-3 field">
            <%= form.label :orden, :class=>"col-form-label col-form-label-lg" %>
            <%= form.number_field :orden, :class=>"form-control form-control-lg" %>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-12 mb-3 field">
            <%= form.label :estado, :class=>"col-form-label col-form-label-lg" %>
            <select class="form-control form-control-lg mr-sm-2">
              <option>[Seleccione]</option>        
              <option value="value1">Activo</option> 
              <option value="value3">Inactivo</option>
            </select>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

        </div>
      </div>
  
</div>




<div class="actions text-right">
  <%= link_to 'Regresar', proyectos_path, :class => "btn-warning btn btn-lg" %>
  <%= form.submit "Guardar", :class => "btn btn-lg btn-success text-light"%>
</div>
<% end %>
