<p id="notice"><%= notice %></p>
<%= content_for :head do %>
  <br/>
  <div class="row bd-example">
    <div class="col-md-12 mb-4">
      <span class="display-2">{{Proyecto.Nombre}} </span>
    </div>
  </div>
<% end %>
<div class="row mt-4">
  <div class="col-md-8">
    <h1>Fotos y Videos</h1>
  </div>
  <div class="col-md-2 text-right mb-5">
      <%= link_to 'Regresar', proyectos_path, :class => "btn-outline-warning btn" %>
  </div>
  <div class="col-md-2 text-right">
      <%= link_to 'Nuevo Archivo', new_archivo_path, :class => "form-control btn btn-outline-primary text-primary" %>
  </div>

  <% @archivos.each do |archivo| %>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-12 bg-secondary" style="overflow:hidden; background-color: ">
              <img src="https://img10.naventcdn.com/avisos/111/00/08/03/06/86/1200x1200/160060081.jpg" class="card-img rounded-top" style="height: 100%;max-height: 300px;width: auto;" alt="...">
          </div>
          <div class="col-12 text-right">
            <span class="badge badge-primary badge-pill mt-2 mr-2">Activo</span>
            <span class="card-text text-warning h4 mr-2"><%= archivo.estado %></span>
          </div>
          <div class="col-md-12 text-justify col-form-label-lg">
             <p class="card-text card-body" style="padding:0 20px 0 20px;"><b><%= archivo.descripcion_corta %></b></p>
             <p class="card-text card-body" style="padding:0 20px 0 20px; min-height: 60px;"><%= archivo.descripcion_larga %></p>
          </div>
          <div class="col-md-12 text-right mt-3 mb-3 mr-2">
                  <%= link_to 'Editar', edit_archivo_path(archivo), :class => "btn-danger btn-sm text-light mr-3" %>
          </div>
        </div>
      </div>  
    </div>
  <% end %>
</div>


<br>

<%= content_for :food do %>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
<% end %>
