<%= form_with(model: variable, local: true) do |form| %>
  <% if variable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(variable.errors.count, "error") %> prohibited this variable from being saved:</h2>

      <ul>
        <% variable.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.collection_select :tipo_variable, @variables.where(tipo_variable: 'TipoVariable'), :codigo_variable, :descricion_variable, {:include_blank  => "Seleccionar Tipo"}, :class=>"form-control mr-sm-2", :required=>"required"%>
  </div>

  <div class="field">
    <%= form.label :codigo_variable %>
    <%= form.text_field :codigo_variable %>
  </div>

  <div class="field">
    <%= form.label :descricion_variable %>
    <%= form.text_field :descricion_variable %>
  </div>

  <div class="field">
    <%= form.label :dato_extra %>
    <%= form.text_field :dato_extra %>
  </div>

  <div class="field">
    <%= form.label :dato_extra2 %>
    <%= form.text_field :dato_extra2 %>
  </div>

  <div class="field">
    <%= form.label :dato_extra3 %>
    <%= form.text_field :dato_extra3 %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
