<p id="notice"><%= notice %></p>

<h1>Variables</h1>

<table>
  <thead>
    <tr>
      <th>Tipo variable</th>
      <th>Codigo variable</th>
      <th>Descricion variable</th>
      <th>Dato extra</th>
      <th>Dato extra2</th>
      <th>Dato extra3</th>
      <th>Estado</th>
      <th>Usu crea</th>
      <th>Fec crea</th>
      <th>Usu mod</th>
      <th>Fec mod</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @variables.each do |variable| %>
      <tr>
        <td><%= variable.tipo_variable %></td>
        <td><%= variable.codigo_variable %></td>
        <td><%= variable.descricion_variable %></td>
        <td><%= variable.dato_extra %></td>
        <td><%= variable.dato_extra2 %></td>
        <td><%= variable.dato_extra3 %></td>
        <td><%= variable.estado %></td>
        <td><%= variable.usu_crea %></td>
        <td><%= variable.fec_crea %></td>
        <td><%= variable.usu_mod %></td>
        <td><%= variable.fec_mod %></td>
        <td><%= link_to 'Show', variable %></td>
        <td><%= link_to 'Edit', edit_variable_path(variable) %></td>
        <td><%= link_to 'Destroy', variable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Variable', new_variable_path %>
