<!DOCTYPE html>
<html>
    <head>
        <title>
            ..::La Final::..
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %> 
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        </link>
        <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/assets/css/docs.min.css">
        </link>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
    <style>
         .digg_pagination {
      background: white;
      cursor: default;
      /* self-clearing method: */ }
      .digg_pagination a, .digg_pagination span, .digg_pagination em {
        padding: 0.2em 0.5em;
        display: block;
        float: left;
        margin-right: 1px; }
      .digg_pagination .disabled {
        color: #999999;
        border: 1px solid #dddddd; }
      .digg_pagination .current {
        font-style: normal;
        font-weight: bold;
        background: #2e6ab1;
        color: white;
        border: 1px solid #2e6ab1; }
      .digg_pagination a {
        text-decoration: none;
        color: #105cb6;
        border: 1px solid #9aafe5; }
        .digg_pagination a:hover, .digg_pagination a:focus {
          color: #000033;
          border-color: #000033; }
      .digg_pagination .page_info {
        background: #2e6ab1;
        color: white;
        padding: 0.4em 0.6em;
        width: 22em;
        margin-bottom: 0.3em;
        text-align: center; }
        .digg_pagination .page_info b {
          color: #000033;
          background: #6aa6ed;
          padding: 0.1em 0.25em; }
      .digg_pagination:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      * html .digg_pagination {
        height: 1%; }
      *:first-child + html .digg_pagination {
        overflow: hidden; }
    </style>
    </head>
    <body>
        <span id="span_inicio" class="px-3 py-2 text-center text-bold bg-630000 t-info">
            <%= render partial: '/layouts/infogrupo'%>
        </span>

        <nav  class="navbar navbar-expand-lg navbar-light bd-navbar justify-content-center">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          

          <span class="navbar-brand mr-0 ">
            <span class="MostrarNombreXD">
              <small>
                <%= render partial: '/layouts/infogrupo'%>
                &nbsp;
              </small>
            </span>
            <a style="align-content: left" class="mr-0 mr-md-2 rounded text-center x btn btn-outline-success" href="/">
              <%= image_tag("panel/LOGOHOME.png", width: "20px") %>
            </a>
          </span>
     
          <div  class="nav nav-pills nav-fill" id="navbarTogglerDemo03">
            <ul  class="navbar-nav mt-3 mt-lg-0 bd-navbar-nav flex-row">
                
                     
                     <li class="nav-item">  
                          <a class="nav-link" href="/">
                              <i class="icon-home-16"></i>
                              Home
                          </a>
                      </li>
                      <br>
                       <li class="nav-item">  
                          <a class="nav-link" href="/nosotros">
                              <i class="icon-eye-16"></i>
                              Nosotros
                          </a>
                      </li>
                      <br>
                       <li class="nav-item">  
                          <a class="nav-link" href="/contactenos">
                              <i class="icon-comment-discussion-16"></i>
                              Contáctenos
                          </a>
                      </li>
                      <br>
                       <li class="nav-item">  
                          <a class="nav-link" href="/ultimos_proyectos">
                              <i class="icon-organization-16"></i>
                              Últimos Proyectos
                          </a>
                      </li>
                      <br>
                       
                      <br>
                       <li class="nav-item">  
                          <a class="nav-link" href="/proyectos">
                              <i class="icon-grabber-16"></i>
                              Proyectos
                          </a>
                      </li>
                      <br>

                      
                      
                      <% if logged_in? and current_usuario.perfil=="Administrador"%>  
                      <li class="nav-item">  
                          <a class="nav-link" href="/proformas">
                              <i class="icon-file-16"></i>
                              Proformas
                          </a>
                      </li>
                      <br>
                       <li class="nav-item">  
                          <a class="nav-link" href="/venta">
                              <i class="icon-file-badge-16"></i>
                              Ventas
                          </a>
                      </li>
                      <br>
                       <li class="nav-item">  
                          <a class="nav-link" href="/solicituds">
                              <i class="icon-list-ordered-16"></i>
                              Solicitudes
                          </a>
                      </li>
                      <br>
                       <li class="nav-item">  
                          <a class="nav-link" href="/cita">
                              <i class="icon-list-ordered-16"></i>
                              Citas
                          </a>
                      </li>
                      <br>
                       <li class="nav-item">  
                          <a class="nav-link" href="/reportes">
                              <i class="icon-desktop-download-16"></i>
                              Reportes
                          </a>
                      </li>
                      <br>
                      <br>
                       <li class="nav-item">  
                          <a class="nav-link" href="/reportes">
                              <i class="icon-desktop-download-16"></i>
                              Reportes
                          </a>
                      </li>
                      <br>
                      <li class="nav-item">  
                          <a class="nav-link" href="/usuarios">
                              <i class="icon-people-16"></i>
                              Usuarios
                          </a>
                      </li>
                      <br>
                       <li class="nav-item">  
                          <a class="nav-link" href="/variables">
                              <i class="icon-gear-16"></i>
                              Configuracion
                          </a>
                      </li>
                      <%end%>

                      <%if logged_in? and current_usuario.perfil=="Vendedor" %>

                      <li class="nav-item">  
                          <a class="nav-link" href="/proformas">
                              <i class="icon-file-16"></i>
                              Proformas
                          </a>
                      </li>
                      <br>
                       <li class="nav-item">  
                          <a class="nav-link" href="/venta">
                              <i class="icon-file-badge-16"></i>
                              Ventas
                          </a>
                      </li>
                      <br>
                       <li class="nav-item">  
                          <a class="nav-link" href="/solicituds">
                              <i class="icon-list-ordered-16"></i>
                              Solicitudes
                          </a>
                      </li>
                      <br>
                       <li class="nav-item">  
                          <a class="nav-link" href="/reportes">
                              <i class="icon-desktop-download-16"></i>
                              Reportes
                          </a>
                      </li>
                      <br>
                       
                      <%end%>
                      <%if logged_in? and current_usuario.perfil=="Jefe" %>

                      <li class="nav-item">  
                          <a class="nav-link" href="/proformas">
                              <i class="icon-file-16"></i>
                              Proformas
                          </a>
                      </li>
                      <br>
                       <li class="nav-item">  
                          <a class="nav-link" href="/venta">
                              <i class="icon-file-badge-16"></i>
                              Ventas
                          </a>
                      </li>
                      <br>
                       <li class="nav-item">  
                          <a class="nav-link" href="/solicituds">
                              <i class="icon-list-ordered-16"></i>
                              Solicitudes
                          </a>
                      </li>
                      <br>
                       <li class="nav-item">  
                          <a class="nav-link" href="/reportes">
                              <i class="icon-desktop-download-16"></i>
                              Reportes
                          </a>
                      </li>
                      <br>
                       
                      <%end%>
                      <br>
                      </ul>
                      </div>
                    </nav>
           

        <%= yield :pre_head%>
        <div class="container-fluid" id="inicio">
                <div class="row">
                  <div class="col-md-10">
                    <h1 class="display-4 titulo"><%= yield :titulo%></h1>
                  </div>
                  <div class="col-md-2">
                    <%= yield :right%>
                  </div>
                </div>
            <%= yield %>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="fixed-bottom container">
            <div class="row" style="min-height: 10px;">
                <div class="col-md-8">
                    
                </div>
                <div class="col-md-4 text-center text-white bg-info rounded-top">
                    © Copyright 2020 | Desarrollo Web |
                    <b>
                        Grupo 1
                    </b>
                </div>
            </div>
        </div>
    </body>
</html>
