<!DOCTYPE html>
<html>
    <head>
        <title>
            ..::La Final::..
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %> 
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        </link>
        <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/assets/css/docs.min.css">
        </link>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
        <span id="span_inicio" class="px-3 py-2 text-center text-bold bg-630000 t-info">
            <%= render partial: '/layouts/infogrupo'%>
        </span>

        <nav class="navbar navbar-expand-lg navbar-light bd-navbar">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          

          <span class="navbar-brand mr-0 ">
            <span class="MostrarNombreXD">
              <small>
                <%= render partial: '/layouts/infogrupo'%>
                &nbsp;
              </small>
            </span>
            <a class="mr-0 mr-md-2 rounded text-center x btn btn-outline-success" href="/">
              <%= image_tag("panel/LOGOHOME.png", width: "20px") %>
            </a>
          </span>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mt-2 mt-lg-0 bd-navbar-nav flex-row">
                    <% @variables.where(tipo_variable: 'Menú').each do |variable| %>
                       <li class="nav-item">  
                          <a class="nav-link" href="/<%= variable.codigo_variable %>">
                              <i class="icon-<%= variable.dato_extra %>"></i>
                              <%= variable.descricion_variable %>
                          </a>
                      </li>
                      <br/>
                    <% end %>
            </ul>
          </div>
        </nav>

        <%= yield :pre_head%>
        <div class="container-fluid" id="inicio">
                <div class="row">
                  <div class="col-md-10">
                    <h1 class="display-4 titulo"><%= yield :titulo%></h1>
                  </div>
                  <div class="col-md-2">
                    <%= yield :right%>
                  </div>
                </div>
            <%= yield %>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="fixed-bottom container">
            <div class="row" style="min-height: 10px;">
                <div class="col-md-8">
                    
                </div>
                <div class="col-md-4 text-center text-white bg-info rounded-top">
                    © Copyright 2020 | Desarrollo Web |
                    <b>
                        Grupo 1
                    </b>
                </div>
            </div>
        </div>
    </body>
</html>