<!DOCTYPE html>
<html>
  <head>
    <title>..::La Final::..</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  </head>

  <body class="bg-light">
    <div class="bg-danger fixed-top">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <br/>
            <nav class="navbar navbar-expand-lg navbar-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="navbar-brand btn btn-outline-danger" href="/proyectos">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="24" height="24" fill="white"><path fill-rule="evenodd" d="M1.5 14.25c0 .138.112.25.25.25H4v-1.25a.75.75 0 01.75-.75h2.5a.75.75 0 01.75.75v1.25h2.25a.25.25 0 00.25-.25V1.75a.25.25 0 00-.25-.25h-8.5a.25.25 0 00-.25.25v12.5zM1.75 16A1.75 1.75 0 010 14.25V1.75C0 .784.784 0 1.75 0h8.5C11.216 0 12 .784 12 1.75v12.5c0 .085-.006.168-.018.25h2.268a.25.25 0 00.25-.25V8.285a.25.25 0 00-.111-.208l-1.055-.703a.75.75 0 11.832-1.248l1.055.703c.487.325.779.871.779 1.456v5.965A1.75 1.75 0 0114.25 16h-3.5a.75.75 0 01-.197-.026c-.099.017-.2.026-.303.026h-3a.75.75 0 01-.75-.75V14h-1v1.25a.75.75 0 01-.75.75h-3zM3 3.75A.75.75 0 013.75 3h.5a.75.75 0 010 1.5h-.5A.75.75 0 013 3.75zM3.75 6a.75.75 0 000 1.5h.5a.75.75 0 000-1.5h-.5zM3 9.75A.75.75 0 013.75 9h.5a.75.75 0 010 1.5h-.5A.75.75 0 013 9.75zM7.75 9a.75.75 0 000 1.5h.5a.75.75 0 000-1.5h-.5zM7 6.75A.75.75 0 017.75 6h.5a.75.75 0 010 1.5h-.5A.75.75 0 017 6.75zM7.75 3a.75.75 0 000 1.5h.5a.75.75 0 000-1.5h-.5z"></path></svg>
                      Proyectos
                    </a>
                  </li>
                  <li class="nav-item active">
                    <a class="navbar-brand btn btn-outline-danger" href="/usuarios">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="white"><path fill-rule="evenodd" d="M3.5 8a5.5 5.5 0 118.596 4.547 9.005 9.005 0 015.9 8.18.75.75 0 01-1.5.045 7.5 7.5 0 00-14.993 0 .75.75 0 01-1.499-.044 9.005 9.005 0 015.9-8.181A5.494 5.494 0 013.5 8zM9 4a4 4 0 100 8 4 4 0 000-8z"></path><path d="M17.29 8c-.148 0-.292.01-.434.03a.75.75 0 11-.212-1.484 4.53 4.53 0 013.38 8.097 6.69 6.69 0 013.956 6.107.75.75 0 01-1.5 0 5.193 5.193 0 00-3.696-4.972l-.534-.16v-1.676l.41-.209A3.03 3.03 0 0017.29 8z"></path></svg>
                      Usuarios
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div> 
          <div class="col-md-3 text-right text-info bg-white">
            <div class="row ml-1">
              <div class="col-md-2 mt-1">
                <img src="https://i.pinimg.com/474x/a8/bd/32/a8bd32862428eedf7e0cffccaf38ca1d.jpg" style="width: 60px;">
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-sm-2 text-warning text-right ml-2" style="line-height: 12px;padding-right:0;padding-top:3px;">
                    <small><small>DE SA RRO LLO</small></small>
                  </div>
                  <div class="col-md-8 text-left mt-2" style="padding-left: 0;margin-left: 3px;">
                    <b class="display-3" style="line-height: 40px;">Web</b>
                  </div>
                </div>
              </div>
              <div class="col-md-12 text-left text-secondary" style="margin-top: 0;">
                    <small><small>&nbsp;I N M O B I L I A R I A &nbsp; - &nbsp; <b> G &nbsp;&nbsp;R &nbsp;&nbsp; U &nbsp;&nbsp; P &nbsp;&nbsp; O &nbsp;&nbsp; <b class="text-danger">1</b></b> </small></small>
              </div>
            </div>
          </div>
        </div> 
      </div> 
    </div>
    <div class="bg-white">
      <br/>
      <br/>
      <br/>
      <div class="container">
        <%= yield :head%>
      </div> 
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="fixed-bottom container bg-info rounded-top">
      <div class="row mt-3" style="min-height: 50px;">
        <div class="col-md-8">
          <%= yield :food%>
        </div>
        <div class="col-md-4 text-right text-white">
          © Copyright 2020 | Desarrollo Web | <b>Grupo 1</b>
        </div>
      </div>
    </div>
  </body>
</html>




